body{
  background-color: #dbf6e9;
}


/* NavBar */

.logo {
    transform: scale(1.5);
  }
  
  .navbar-content {
    font-size: large;
  }
  
  .navbar-color {
    background-color: #1abc9c;
  }

/* Home Component */

.statistics-strip{
    text-align: center;
    background-color: #17a2b8;
    color: white;
}

.statistics-anchor{
    color: #28527a;
}

.donate-button{
    background-color: #28527a;
}

.jumbotron{
    background-image: url("../background.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    height: 100%;
}

.agroworld{
    text-align: center;
    font-size: 100px;
    margin: 100px auto;
    color: #28527a;
    font-family: 'Lobster', cursive;
}

/*Sell Page*/

.Sell-Form{
  width: 40%;
  background-color: #8ac4d0;
  padding: 2% 2%;
}

.Sell-inputs{
  width: 100%;
}

.Sell-Labels{
  color: #025955;
}

.Sell-submit{
  background-color: #28527a;
}

.Sell-title{
  background-color: #28527a;
  color: #8ac4d0;
  margin-bottom: 4%;
  font-size: 200%;
  text-align: center;
}

@media screen and (max-width: 576px) {

  .Sell-Form{
    width: 80%;
  }

}


