body {
  background-color: #dbf6e9;
}

.heading{
  font-family: Amaranth;
  font-weight: bold;
  color: #3b966a;
}

/* NavBar */

.logo {
  transform: scale(1.5);
}

.navbar-content {
  font-size: large;
}

.navbar-color {
  background-color: #1abc9c;
}

/* Home Component */

.statistics-strip {
  text-align: center;
  background-color: #17a2b8;
  color: white;
}

.statistics-anchor {
  color: #28527a;
}

.donate-button {
  background-color: #28527a;
}

.jumbotron {
  background-image: url("../background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

.agroworld {
  text-align: center;
  font-size: 100px;
  margin: 100px auto;
  color: #28527a;
  font-family: "Lobster", cursive;
}

/*Sell Page*/

.Sell-Form {
  width: 40%;
  background: linear-gradient(180deg, #1abc9c 0%, rgba(10, 190, 6, 0) 100%);
  border-radius: 15px;
  margin: 0 auto;
}

.Sell-title {
  background-color: #3b966a;
  color: #ffffff;
  border-radius: 15px;
  margin-bottom: 4%;
  font-family: Amaranth;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.075em;
}

.Sell-inputs {
  width: 100%;
  border: 3px solid #0e6b3e;
  border-radius: 3px;
}

.Sell-Labels {
  color: #025955;
}

.Sell-submit {
  background-color: #1c4d06;
}

.Sell-title {
  background-color: #3b966a;
  color: #ffffff;
  border-radius: 15px;
  margin-bottom: 4%;
  font-family: Amaranth;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.075em;
}

@media screen and (max-width: 576px) {
  .Sell-Form {
    width: 450px;
  }
}

/*Login, Register Page */
.login-header,
.register-header {
  align-items: center;
  height: 77px;
  margin-top: 40px;
  background: #3b966a;
  border-radius: 15px;
}

.login-header-name,
.register-header-name {
  font-family: Amaranth;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: 0.075em;
  color: #ffffff;
  padding-top: 9px;
}

.login-form,
.register-form {
  height: 750px;
  background: linear-gradient(180deg, #1abc9c 0%, rgba(10, 190, 6, 0) 100%);
  border-radius: 15px;
}

@media (min-width: 480px) {
  .login-form,
  .register-form {
    width: 450px;
  }

  .login-form .form-control,
  .register-form .form-control {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .login-form,
  .register-form {
    width: 600px;
  }

  .login-form .form-control,
  .register-form .form-control {
    width: 450px;
  }
  
}

.login-form .form-label,
.register-form .form-label {
  height: 34px;
  width: 95px;
  font-weight: bold;
  color: #025955;
  margin-left: 3vmin;
  margin-top: 2vmin;
  font-size: 17px;
  line-height: 24px;
}

.login-form .form-control,
.register-form .form-control {
  float: right;
  height: 45px;
  margin-right: 2vmin;
  background: #f7f5f5;
  border: 3px solid #0e6b3e;
  border-radius: 3px;
}

.center {
  text-align: center;
}

/* Styling for the Product Component */
.card-style {
  width: 20rem;
}
.card-img {
  width: 318px;
  height: 178.63px;
}
.card-title {
  font-size: 1.5rem;
}
.mrp-style {
  color: #383e56;
  font-weight: 600;
  font-size: 1.2rem;
}
.desc-style {
  color: #727272;
  font-size: 14px;
}
.card-footer {
  font-size: 0.75rem;
}
@media (min-width:768px){
  .grid-style{
    padding-top:3.5%;
    padding-left: 5.8%;
  }
} 
@media (max-width:580px){
  .grid-style{
    padding-top: 5%;
    padding-left: 16%;
  }
}


/* Statistics Page */

.pie-chart {
  width: 500px;
  height: 500px;
  margin-left: 10%;
}

@media (min-width: 480px) {
  .pie-chart {
    width: 420px;
    margin-left: 3%;
  }
}


/* Orders style */

.order-image{
  width: 500px;
  height: 300px;
}
.order-card{
  padding: 2%;
}
.order-title{
  font-size: 3rem;
}
.order-button{
  width: 130px;
  background: #1C4D06; 
  font-size: 25px ;
  height: 50px;
  margin: 5px 15px;
}